<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liakot.easytransaction">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme">
        <activity
            android:name=".ActivityAboutUs"
            android:exported="false" />
        <activity
            android:name=".ActivitySetPassword"
            android:exported="false" />
        <activity
            android:name=".ActivityPhoneVerify"
            android:exported="false" />
        <activity
            android:name=".ActivitySearch"
            android:exported="false" />
        <activity
            android:name=".ActivityOTPCheck"
            android:exported="false" />
        <activity
            android:name=".ActivityCustomerProfile"
            android:exported="false" />
        <activity
            android:name=".ActivityTransaction"
            android:exported="false" />
        <activity
            android:name=".ActivitySignUp"
            android:exported="false" />
        <activity
            android:name=".ActivitySignIn"
            android:exported="false" />
        <activity
            android:name=".ActivityCustomerDetails"
            android:exported="false" />
        <activity
            android:name=".ActivityAddCustomer"
            android:exported="false" />
        <activity
            android:name=".ActivityShopProfile"
            android:exported="false" />
        <activity
            android:name=".ActivityHome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>